<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.diagnostics>
    <sources>
      <source name="System.Windows.Data" switchName="mySwitch">
        <listeners>
          <add name="myListener" />
        </listeners>
      </source>
    </sources>

    <switches>
      <add name="mySwitch" value="All" />
    </switches>

    <sharedListeners>
      <add name="myListener" type="System.Diagnostics.TextWriterTraceListener"
           initializeData="DataBindingTrace.txt" />
    </sharedListeners>
  </system.diagnostics>-->
</configuration>